body
{
	background-color: #333333;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.top-buttons {
	margin: auto;
	width: 30%;
	text-align: center;
	margin-bottom: 32px;
}

.clock-area {
	width: 95%;
	margin: auto;
}

.clock-container {
	float: left;
	margin-bottom: 32px;
	min-width: 250px;
}

.clock-title {
	background: transparent;
	border: none;
	outline: none;
	display: block;
	margin: auto;
	margin-bottom: 8px;
	text-align: center;
	font-family: 'Kirsty';
	font-size: 1.6em;
}

.clock-canvas {
	display: block;
	margin: auto;
	margin-bottom: 16px;
}

.button {
	background: transparent;
	border: none;
	text-align: center;
	font-family: 'Kirsty';
	color: white;
}

.button:hover {
	background-color: #444444;
}

.small-button {
	font-size: 1em;
}

.big-button {
	font-size: 2em;
}
